body {
	font-family: 'Roboto', sans-serif; 
	text-transform: uppercase;
}

#here {
	background-color: #333;
	color: darkgray;
	display: inline-block;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 100;
	padding: 10px;
}

nav .first-drop {
	background-color: #A6DDF1;
	/*display: inline-block;*/
	display: none;
	position: absolute;
	left: 50px;
	top: 112px;
	padding-right: 15px;
	z-index: 100;
} 

nav ul {

	margin-bottom: 10px;
}
nav li {
	list-style: none;
	padding: 4px 0;
	/*float: right;*/
}

nav i {
	position: relative;
	top: -25px;
	margin-left: 180px;
	float: right;
}

nav .first-sub {
	background-color: #A6DDF1;
	/*display: inline-block;*/
	display: none;
	position: absolute;
	left: 280px;
	top: 112px;
	padding-right: 15px;
	z-index: 100;
}

nav .second-sub {
	background-color: #A6DDF1;
	/*display: inline-block;*/
	display: none;
	position: absolute;
	left: 280px;
	top: 152px;
	padding-right: 15px;
	z-index: 100;
}

nav .third-sub {
	background-color: #A6DDF1;
	/*display: inline-block;*/
	display: none;
	position: absolute;
	left: 280px;
	top: 153px;
	padding-right: 15px;
	z-index: 100;
}

nav .third-sub ul{
	margin-top: 10px;
}

#here:hover .first-drop {
	background-color: #A6DDF1;
	display: inline-block;
	/*display: none;*/
	position: absolute;
	left: 0px;
	top: 82px;
	padding-right: 15px;
	z-index: 100;
}


#here:hover #uli1:hover  .first-sub {
	background-color: #A6DDF1;
	display: inline-block;
	/*display: none;*/
	position: absolute;
	left: 238px;
	top: 0px;
	padding-right: 15px;
	z-index: 100;
}


#here:hover #uli2:hover  .second-sub {
	background-color: #A6DDF1;
	display: inline-block;
	/*display: none;*/
	position: absolute;
	left: 238px;
	top: 50px;
	padding-right: 15px;
	z-index: 100;
}


#here:hover #uli3:hover  .third-sub {
	background-color: #A6DDF1;
	display: inline-block;
	/*display: none;*/
	position: absolute;
	left: 238px;
	top: 72px;
	padding-right: 15px;
	z-index: 100;
}

#except {
	position: relative;
	top: 0px;
	margin-left: 10px;
}